@import url(https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Open+Sans:ital,wght@0,600;

0,700;1,400&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.choose__link,
.choose__text,
.services__item-text,
.about__text,
.hero__text,
.footer__support,
.header__button,
.menu-list__link {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  line-height: 150%;
}

.services__items .title,
.footer__title,
.title,
.wrap__title {
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например container.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FDFCFC;
}

.logo {
  max-width: 194px;
  min-width: 145px;
  max-height: 48px;
  min-height: 36px;
}

.logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.875rem;
     -moz-column-gap: 2.875rem;
          column-gap: 2.875rem;
}

.menu-list__link {
  color: #585858;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-list__link:hover {
  color: #e9a923;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin: 4px 0;
}

.social-media .fa,
.social-media .in,
.social-media .ins {
  cursor: pointer;
}

.social-media .fa:hover .svg-hover,
.social-media .in:hover .svg-hover,
.social-media .ins:hover .svg-hover {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  fill: #e9a923;
}

.wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem 7.625rem;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.wrap__svg svg {
  max-width: 28.8125rem;
  min-width: 17.8125rem;
  width: 100%;
  max-height: 28.8125rem;
  min-height: 17.8125rem;
  height: 100%;
}

.wrap__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
  width: 100%;
  padding: 4.6875rem 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.wrap__title {
  color: #313131;
}

.wrap__title span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 0.375rem;
}

.wrap__title span::after {
  content: "";
  position: absolute;
  bottom: 0.4375rem;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #e9a923;
  border-radius: 21px;
  z-index: -1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.wrap__flex-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.wrap__partners-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.wrap__partner-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 267px;
  background: #F1E9EE;
  border-radius: 10px;
  padding: 37px 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.running-rows {
  margin: 0 -25px;
}

.running-rows__row {
  background: #e9a923;
  margin: 30px auto;
  padding: 1rem 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.running-rows__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  gap: 40px;
  -webkit-animation: marquee-infinite 15s linear infinite;
          animation: marquee-infinite 15s linear infinite;
}

.running-rows__line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2.5rem;
}

.running-rows .row-light {
  background: #e9a923;
  -webkit-transform: translateY(100px) rotate(-5deg);
      -ms-transform: translateY(100px) rotate(-5deg);
          transform: translateY(100px) rotate(-5deg);
}

.running-rows .row-dark {
  background: #7f3a6a;
  -webkit-transform: translateY(15px) rotate(5deg);
      -ms-transform: translateY(15px) rotate(5deg);
          transform: translateY(15px) rotate(5deg);
}

@-webkit-keyframes marquee-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee-infinite {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.title {
  color: #313131;
}

.title span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 0.375rem;
  z-index: 1;
}

.title span::after {
  content: "";
  position: absolute;
  bottom: 0.4375rem;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #e9a923;
  border-radius: 21px;
  z-index: -1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header {
  padding: 24px 0;
  z-index: 2;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  position: relative;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.header #burger-checkbox {
  display: none;
}

.header__burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__burger-menu span {
  width: 24px;
  height: 4px;
  background-color: #7f3a6a;
  margin-bottom: 6px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 0.5rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__menu-list {
  padding: 0.75rem 0;
}

.header__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #7f3a6a;
}

.header__button:hover {
  background-color: #e9a923;
}

#burger-checkbox:checked ~ .header__menu {
  opacity: 1;
  left: 50%;
}

#burger-checkbox:checked ~ .header__burger-menu span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
      -ms-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

#burger-checkbox:checked ~ .header__burger-menu span:nth-child(2) {
  opacity: 0;
}

#burger-checkbox:checked ~ .header__burger-menu span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.footer {
  padding: 4rem 0;
  background-color: #f9f1ee;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
}

.footer__menu-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.footer__title {
  color: #313131;
  font-size: 16px;
  font-weight: 700;
}

.footer__support {
  color: #585858;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.no-webp .hero{
  background-image: url("../img/home/bg_desktop.png"); }

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -100px;
  padding-top: 100px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 1;
}

.hero__title {
  font-size: calc(28px + 15.4 * (100vw - 320px) / 1140);
}

.hero__text {
  color: #585858;
  font-size: 16px;
  font-weight: 400;
  margin-right: -20px;
}

.partners {
  padding: 4.6875rem 0;
}

.partners__title {
  font-size: 32px;
}

.partners__info {
  gap: 40px 0;
}

.about {
  padding: 3.75rem 0;
}

.about__title {
  font-size: 32px;
  text-align: center;
}

.about__wrap {
  gap: 1.5rem 10.625rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.about__info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about__info .title {
  font-size: 24px;
  text-align: start;
}

.about__text {
  color: #585858;
  font-size: 16px;
  font-weight: 400;
}

.services {
  padding: 3.75rem 0;
}

.services__wrap {
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
}

.services__info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.services__title {
  font-size: 32px;
  text-align: start;
}

.services__flex-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.services__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.services .item-dark {
  background: #7f3a6a;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px 0;
  padding: 24px 49px;
  border-radius: 10px;
  min-width: 267px;
}

.services__items .title {
  color: #fff;
  font-size: 24px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px 28px;
}

.services__item-text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.services .item-light {
  background: #e9a923;
}

.services .item-light .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px 28px;
}

.choose {
  padding: 4rem 0;
}

.choose__block {
  padding: 64px 16px;
  background: #7f3a6a;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px 0;
}

.choose__title {
  font-size: 44px;
  color: #fff;
  text-align: center;
}

.choose__text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}

.choose__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 53px;
  border-radius: 5px;
  background: #e9a923;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .running-rows__block {
    width: 300%;
  }

  .hero__text {
    margin-right: 0;
  }
}

@media (max-width: 1100px) {
  .wrap__partner-item {
    min-width: 240px;
  }
}

@media (max-width: 992px) {
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-list__item {
    padding: 1.25rem 0;
  }

  .wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrap__svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrap__info {
    padding-top: 0rem;
    padding-bottom: 4.6875rem;
    gap: 1.5rem;
  }

  .wrap__title {
    text-align: center;
  }

  .running-rows .row-light {
    -webkit-transform: translateY(100px) rotate(-5deg);
        -ms-transform: translateY(100px) rotate(-5deg);
            transform: translateY(100px) rotate(-5deg);
  }

  .running-rows .row-dark {
    -webkit-transform: translateY(10px) rotate(5deg);
        -ms-transform: translateY(10px) rotate(5deg);
            transform: translateY(10px) rotate(5deg);
  }

  .title {
    text-align: center;
  }

  .header__nav-menu {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header__burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__menu {
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 3.125rem;
    left: -100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 6.25rem 0;
  }

  .footer__menu-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about__title {
    margin-bottom: 40px;
  }

  .about__info {
    gap: 1rem 0;
  }

  .about__info .title {
    margin-bottom: 0;
  }

  .services__wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .services__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services__title {
    margin-bottom: 30px;
  }

  .services__items .title {
    margin-bottom: 0;
  }
}

@media (max-width: 676px) {
  .wrap__info {
    padding-bottom: 1.5rem;
  }

  .wrap__title span::after {
    bottom: 0.25rem;
  }

  .wrap__title {
    text-align: start;
  }

  .wrap__partners-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrap__partner-item {
    min-width: 300px;
    width: 100%;
    padding: 28px 0;
  }

  .wrap__partner-item svg {
    height: 48px;
  }

  .running-rows__block {
    width: 500%;
  }

  .running-rows__line img {
    height: 20px;
  }

  .running-rows .row-light {
    -webkit-transform: translateY(100px) rotate(8deg);
        -ms-transform: translateY(100px) rotate(8deg);
            transform: translateY(100px) rotate(8deg);
  }

  .running-rows .row-dark {
    -webkit-transform: translateY(10px) rotate(-8deg);
        -ms-transform: translateY(10px) rotate(-8deg);
            transform: translateY(10px) rotate(-8deg);
  }

  .title span::after {
    bottom: 0.25rem;
  }

  .title {
    text-align: start;
  }

  .partners {
    padding: 2.5rem 0;
  }

  .partners__title {
    font-size: 24px;
  }

  .partners__title span::after {
    left: auto;
    right: 0;
    width: 83%;
  }

  .about {
    padding: 2.5rem 0;
  }

  .about__title {
    font-size: 24px;
    text-align: center;
  }

  .about__wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__info {
    padding: 0;
  }

  .about__info .title {
    font-size: 18px;
  }

  .services {
    padding: 2.5rem 0;
  }

  .services__title {
    font-size: 24px;
  }

  .services__flex-blocks {
    gap: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .services__blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.25rem;
    width: 100%;
  }

  .services__items {
    width: 100%;
    min-width: auto;
    padding: 16px 24px;
  }

  .choose {
    padding: 2.5rem 0;
  }

  .choose__title {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 512px) {
  .running-rows__row {
    padding: 0.75rem 0;
  }

  .footer__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .no-webp .hero{
    background-image: url("../img/home/bg_mob.png"); }
}

@media (max-width: 480px) {
  .running-rows__block {
    width: 900%;
  }

  .running-rows .row-light {
    -webkit-transform: translateY(85px) rotate(8deg);
        -ms-transform: translateY(85px) rotate(8deg);
            transform: translateY(85px) rotate(8deg);
  }
}

@media (any-hover: hover) {
  .choose__link:hover {
    background: #fff;
    color: #7f3a6a;
  }
}

.webp .hero{ background-image: url(../img/home/bg_desktop.webp); }

@media (max-width: 512px){
  .webp .hero{ background-image: url(../img/home/bg_mob.webp); }
}